<div class="hero{% if template == 'index' %} hero-index{% endif %}">
	<div class="gradient "></div>
	{% if section.settings.hero-image != blank %}
		<img class="bg-image lazyload js"
			 src="{{ section.settings.hero-image | img_url: '200x' }}"
			 data-src="{{ section.settings.hero-image | img_url: '1920x' }}"
			 data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
			 data-aspectratio="{{ section.settings.hero-image.aspect_ratio }}"
			 data-sizes="auto"
			 alt="{{ section.settings.hero-image.alt | escape }}">

		{% assign vector = 'hero-vector-1.png' %}
		{% if template == 'index' %}
			{% assign vector = 'hero-vector-2.png' %}
		{% endif %}
		<img class="hero-sub-bg hero-vector-1 hide-tab"
			 src="{{ vector | asset_img_url: '800x800' }}"
			 alt="{{ section.settings.heading }}">
	{% endif %}

	<div class="container h-100">
		<div class="hero-content h-100">

			{% if template == 'index' %}
				<img src="{{ 'hero-logo.png' | asset_img_url: 'x500' }}"
					 class="hero-index-label"
					 alt="{{ section.settings.heading }}">
			{% endif %}

			<h2 class="align-center">
				{{ section.settings.heading }}
			</h2>

			{% if section.settings.text != blank %}
				{{ section.settings.text }}
			{% endif %}

			{% if section.settings.button-text != blank and section.settings.button-url != blank %}
				<a class="btn {% if template == 'index' %}btn-primary{% endif %} btn-center" href="{{ section.settings.button-url }}">{{ section.settings.button-text }}</a>
			{% endif %}
		</div>
	</div>
</div>