{% case media.media_type %}
	{% when 'image' %}

		{% if media.alt contains "vimeo.com" %}
			{% if preview == true %}
				<img src="{{ media | img_url: size }}" data-media-id="{{ media.id }}">
			{% else %}
				{% assign vimeo_id = media.alt | split: '/' | last %}
				<div class="product-single__media"
					 style="padding-top: 58%;"
				>
					<iframe src="https://player.vimeo.com/video/{{ vimeo_id }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
			{% endif %}
		{% else %}
			<img src="{{ media | img_url: size }}" data-media-id="{{ media.id }}">
		{% endif %}

	{% when 'external_video' %}

		{% if preview == true %}
			<div class="product-single__media preview-image"
				 data-media-id="{{ media.id }}">
				<img src="{{ media | img_url: size }}" data-media-id="{{ media.id }}">
			</div>
		{% else %}
			<div class="product-single__media"
				 style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100}}%;"
				 data-media-id="{{ media.id }}">
				{{ media | external_video_tag }}
			</div>
		{% endif %}

	{% when 'video' %}
		<div class="product-single__media" data-media-id="{{ media.id }}">
			{{ media | video_tag: controls: true }}
		</div>
	{% when 'model' %}
		<div class="product-single__media" style="padding-top: 100%" data-media-id="{{ media.id }}">
			{{ media | model_viewer_tag }}
		</div>
	{% else %}
		<div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">
			{{ media | media_tag }}
		</div>
{% endcase %}