<div class="before-and-after-section {% if template == 'index' %}template-index{% endif %}">
	<div class="container {% if template != 'index' %}container-large{% endif %}">
		<h3 class="align-center">Before and After</h3>
		<div class="before-container" id="before-after-all-items">

			{% for block in section.blocks %}
				<div class="item open-popup" popup-image-src="{{ block.settings.image | img_url: '1200x1200'}}">
					{% if block.settings.image != blank %}
						<img class="item-image lazyload"
							 src="{{ block.settings.image | img_url: '1x1' }}"
							 data-src="{{ block.settings.image | img_url: '250x250' }}"
							 alt="{{ block.settings.image.alt }}">
					{% endif %}

					{% if section.settings.logo != blank %}
						<div class="logo">
							<img class="lazyload js"
								 src="{{ section.settings.logo | img_url: '1x1' }}"
								 data-src="{{ section.settings.logo | img_url: '500x200' }}"
								 data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
								 data-aspectratio="{{ section.settings.bg.aspect_ratio }}"
								 data-sizes="auto"
								 alt="{{ section.settings.logo.alt | escape }}">
						</div>
					{% endif %}

					{% if block.settings.title != blank %}
						<div class="title">{{ block.settings.title }}</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>

		{% if template == 'index' %}
			<div class="btn btn-primary btn-center" id="get-all-before-after">See more</div>
		{% endif %}
	</div>
</div>

<script>
    function load(url, id, callback) {
        let request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if ( request.readyState === 4 || request.readyState === 200 ) {
                let parser = new DOMParser();
                let doc = parser.parseFromString(request.responseText, "text/html");
                let allItemsHTML = doc.getElementById(id);
                document.getElementById(id).innerHTML = allItemsHTML.innerHTML;
                callback();
            }
        }
        request.open('GET', url, true);
        request.send('');
    }

    let buttonElement = document.getElementById('get-all-before-after');
    buttonElement.addEventListener('click', function(){
        let button = this;
        load(
            '{{shop.url}}/pages/before-and-after',
			'before-after-all-items',
			function(){
                console.log('hide');
                button.style.display = 'none';
                theme.popup.init();
        	}
        );
    });
</script>

{% schema %}
{
    "name": "Before and After",
	"max_blocks": 100,
    "settings": [
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Logo"
		}
	],
	"blocks": [
		{
			"type": "item",
			"name": "Item",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "richtext",
					"id": "title",
					"label": "Title",
					"default": "<p>Default <em>richtext</em> <a href=\"https://example.com\">content</a></p>"
				}
			]
		}
	],
    "presets": [
        {
            "name": "Before and After"
        }
    ]
}
{% endschema %}