{% assign current_collection = collection %}
{% if current_collection == blank %}
	{% assign current_collection = collections['all'] %}
{% endif %}
<div class="section-collection-template">
	<div class="container">
		<div class="collection-list">

			<!-- Swiper Slider -->
			<div id="collection-navigation-slider" class="swiper-container collection-navigation-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="collection-item {% if collections['all'].handle == current_collection.handle %}active{% endif %}"
							 collection-handle="all">
							<a href="{{ collections['all'].url }}">
								<div class="icon">
									{% render 'icon', name: 'icon-all' %}
								</div>
								<div class="collection-title">{{ collections['all'].handle | capitalize }}</div>
							</a>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="collection-item{% if collections['body'].handle == current_collection.handle %} active{% endif %}"
							 collection-handle="{{ collections['body'].handle }}">
							<a href="{{ collections['body'].url }}">
								<div class="icon">
									{% assign icon_name = 'icon-' | append: collections['body'].handle %}
									{% render 'icon', name: icon_name %}
								</div>
								<div class="collection-title">{{ collections['body'].title }}</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection-item{% if collections['cellulite-reduction'].handle == current_collection.handle %} active{% endif %}"
							 collection-handle="{{ collections['cellulite-reduction'].handle }}">
							<a href="{{ collections['cellulite-reduction'].url }}">
								<div class="icon">
									{% render 'icon', name: 'icon-legs' %}
								</div>
								<div class="collection-title">{{ collections['cellulite-reduction'].title }}</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection-item{% if collections['buttocks'].handle == current_collection.handle %} active{% endif %}"
							 collection-handle="{{ collections['buttocks'].handle }}">
							<a href="{{ collections['buttocks'].url }}">
								<div class="icon">
									{% render 'icon', name: 'icon-buttocks' %}
								</div>
								<div class="collection-title">{{ collections['buttocks'].title }}</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection-item{% if collections['face'].handle == current_collection.handle %} active{% endif %}"
							 collection-handle="{{ collections['face'].handle }}">
							<a href="{{ collections['face'].url }}">
								<div class="icon">
									{% render 'icon', name: 'icon-face' %}
								</div>
								<div class="collection-title">{{ collections['face'].title }}</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection-item{% if collections['hair'].handle == current_collection.handle %} active{% endif %}"
							 collection-handle="{{ collections['hair'].handle }}">
							<a href="{{ collections['hair'].url }}">
								<div class="icon">
									{% render 'icon', name: 'icon-hair' %}
								</div>
								<div class="collection-title">{{ collections['hair'].title }}</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection-item{% if collections['lips'].handle == current_collection.handle %} active{% endif %}"
							 collection-handle="{{ collections['lips'].handle }}">
							<a href="{{ collections['lips'].url }}">
								<div class="icon">
									{% render 'icon', name: 'icon-lips' %}
								</div>
								<div class="collection-title">{{ collections['lips'].title }}</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection-item{% if collections['botox-dysport'].handle == current_collection.handle %} active{% endif %}"
							 collection-handle="{{ collections['botox-dysport'].handle }}">
							<a href="{{ collections['botox-dysport'].url }}">
								<div class="icon">
									{% render 'icon', name: 'icon-neck' %}
								</div>
								<div class="collection-title">{{ collections['botox-dysport'].title }}</div>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="collection-item{% if collections['face-contouring'].handle == current_collection.handle %} active{% endif %}"
							 collection-handle="{{ collections['face-contouring'].handle }}">
							<a href="{{ collections['face-contouring'].url }}">
								<div class="icon">
									{% render 'icon', name: 'icon-nose' %}
								</div>
								<div class="collection-title">{{ collections['face-contouring'].title }}</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container container-large">
		<div id="collection-products">
			<div class="product-grid">
				{% paginate current_collection.products by 200 %}
					{% for product in current_collection.products %}
						{% render 'product-grid-item', product: product %}
					{% endfor %}
				{% endpaginate %}
			</div>
		</div>
	</div>
</div>

<script id="tabs-json">
	const tabSettings = [];
	{% for block in section.blocks %}
    	tabSettings.push(`{{ block.settings | json }}`);
	{% endfor %}
</script>


{% schema %}
{
    "name": "Collection",
	"max_blocks": 100,
    "settings": [

    ],
	"blocks": [
		{
			"type": "tab-tag",
			"name": "Tab",
			"settings": [
				{
					"type": "text",
					"id": "tab-tag",
					"label": "Tab tag",
					"default": "tab-tag-example"
				},
				{
					"type": "richtext",
					"id": "tab-title",
					"label": "Tab Title",
					"default": "<p>Tab title</p>"
				}
			]
		}
	]
}
{% endschema %}