{% assign current_collection = collection %}
<div class="section-collection-template">
	<div class="container">
		<div class="collection-list">

			<!-- Swiper Slider -->
			<div id="collection-navigation-slider" class="swiper-container collection-navigation-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="collection-item {% if collections['all'].handle == current_collection.handle %}active{% endif %}"
							 collection-handle="all">
							<a href="{{ collections['all'].url }}">
								<div class="icon">
									{% render 'icon', name: 'icon-all' %}
								</div>
								<div class="collection-title">{{ collections['all'].handle | capitalize }}</div>
							</a>
						</div>
					</div>

					{% for collection in collections %}
						<div class="swiper-slide">
							<div class="collection-item{% if collection.handle == current_collection.handle %} active{% endif %}"
								 collection-handle="{{ collection.handle }}">
								<a href="{{ collection.url }}">
									<div class="icon">
										{% assign icon_name = 'icon-' | append: collection.handle %}
										{% render 'icon', name: icon_name %}
									</div>
									<div class="collection-title">{{ collection.title }}</div>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>

	<div class="container container-large">
		<div id="collection-products">
			<div class="product-grid">
				{% paginate collection.products by 200 %}
					{% for product in collection.products %}
						{% render 'product-grid-item', product: product %}
					{% endfor %}
				{% endpaginate %}
			</div>
		</div>
	</div>
</div>

<script id="tabs-json">
	const tabSettings = [];
	{% for block in section.blocks %}
    	tabSettings.push(`{{ block.settings | json }}`);
	{% endfor %}
</script>

{% javascript %}
var testimonialsSlider = new Swiper('#collection-navigation-slider', {
	slidesPerView: 'auto',
	centerInsufficientSlides: 'true',
});
{% endjavascript %}


{% schema %}
{
    "name": "Collection",
	"max_blocks": 100,
    "settings": [

    ],
	"blocks": [
		{
			"type": "tab-tag",
			"name": "Tab",
			"settings": [
				{
					"type": "text",
					"id": "tab-tag",
					"label": "Tab tag",
					"default": "tab-tag-example"
				},
				{
					"type": "richtext",
					"id": "tab-title",
					"label": "Tab Title",
					"default": "<p>Tab title</p>"
				}
			]
		}
	]
}
{% endschema %}