<div class="section-gallery-grid">
	<div class="container">
		<div class="gallery-grid-container">
			{% for block in section.blocks %}
				{% if block.settings.image != blank %}
					<div class="image open-popup"
						 popup-image-src="{{ block.settings.image | img_url: '1200x1200' }}"
						 style="
							grid-column: span {{ block.settings.column-span }};
							grid-row: span {{ block.settings.row-span }};">
						<img class="lazyload "
							 src="{{ block.settings.image | img_url: '1x1' }}"
							 data-src="{{ block.settings.image | img_url: '800x800' }}"
							 alt="{{ block.settings.image.alt }}">
						<div class="overlay">
							{% render 'icon', name: 'zoom' %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		{% if section.blocks.size > 3 %}
			<div id="view-more-grid"
				 class="view-more-grid only-mobile align-center">View More</div>
		{% endif %}
	</div>
</div>

<script>
	let viewMoreButton = document.getElementById('view-more-grid');
	let gridImages = document.querySelectorAll('.gallery-grid-container .image');
	viewMoreButton.addEventListener('click', function (){
        viewMoreButton.style.display = 'none';
        for (const gridImage of gridImages) {
            gridImage.style.display = 'block';
        }
	})
</script>

{% schema %}
{
    "name": "Gallery grid",
    "settings": [],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "column-span",
					"label": "Column span",
					"default": "1"
				},
				{
					"type": "text",
					"id": "row-span",
					"label": "Row span",
					"default": "1"
				}
			]
		}
	],
    "presets": [
        {
            "name": "Gallery grid"
        }
    ]
}
{% endschema %}