<div class="header-content hide-mobile">
	<div class="header-top">
		<div class="container">
			<div class="header-top-content">
				<div class="left-side">
					{% if settings.tel != blank %}
						<div class="icon shadow">{% render 'icon-phone' %}</div>
						<div class="text">
							<b class="color_first">Call:</b> {{ settings.tel }}<br>
							{{ settings.schedule }}
						</div>
					{% endif %}
				</div>
				<div class="logo">
					<a href="/">
						<img class="lazyload"
							 src="{{ section.settings.logo | img_url: '100x50' }}"
							 data-src="{{ section.settings.logo | img_url: '360x90' }}"
							 alt="{{ section.settings.logo.alt }}">
					</a>
				</div>
				<div class="right-side">
					{% if settings.address != blank %}
						<div class="icon shadow">{% render 'icon-map' %}</div>
						<div class="text">
							{{ settings.address }}
						</div>
					{% endif %}
				</div>
			</div>

		</div>
	</div>

	<div class="header-menu-container">
		<div class="container">
			<div class="header-menu">
				{% for link in linklists[section.settings.menu].links %}
					{% assign child_list_handle = link.title | handleize %}
					{% if linklists[child_list_handle].links != blank %}
						<a href="{{ link.url }}"
						   class="{% if link.current %}active{% endif %}">{{ link.title }}</a>
						[{% for childlink in linklists[child_list_handle].links %}
						<a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
					{% endfor %}]
					{% else %}
						<a href="{{ link.url }}"
						   class="{% if link.current %}active{% endif %}">{{ link.title }}</a>
					{% endif %}
				{% endfor %}
				<div class="icon-cart open-cart-drawer">
					{% render 'icon', name: 'cart' %}
					{% if cart.item_count > 0 %}
						<div id="cart-count" class="cart-count">{{ cart.item_count }}</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="header-content header-mobile-content only-mobile">
	<div class="header-visible-container">
		<div class="container container-flex">
			<div class="logo">
				<a href="/">
					<img class="lazyload"
						 src="{{ section.settings.logo | img_url: '100x50' }}"
						 data-src="{{ section.settings.logo | img_url: '360x90' }}"
						 alt="{{ section.settings.logo.alt }}">
				</a>
			</div>
			<div class="menu-toggle">
				<div id="sandwich">
					<div class="sw-topper"></div>
					<div class="sw-bottom"></div>
					<div class="sw-footer"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="mobile-toggle-content" class="mobile-toggle-content">
		<div class="mobile-menu header-menu">
			{% for link in linklists[section.settings.menu].links %}
				{% assign child_list_handle = link.title | handleize %}
				{% if linklists[child_list_handle].links != blank %}
					<a href="{{ link.url }}"
					   class="{% if link.current %}active{% endif %}">{{ link.title }}</a>
					[{% for childlink in linklists[child_list_handle].links %}
					<a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
				{% endfor %}]
				{% else %}
					<a href="{{ link.url }}"
					   class="{% if link.current %}active{% endif %}">{{ link.title }}</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="text-submenu">
			<div class="">
				<div class="icon-cart open-cart-drawer">
					{% render 'icon', name: 'cart' %}
					{% if cart.item_count > 0 %}
						<div id="cart-count" class="cart-count">{{ cart.item_count }}</div>
					{% endif %}
				</div>
			</div>
			{% if settings.tel != blank %}
				<div class="text">
					<b class="color_first">Call:</b> {{ settings.tel }}<br>
					{{ settings.schedule }}
				</div>
			{% endif %}
			{% if settings.address != blank %}
				<div class="text last-b">
					{{ settings.address }}
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
        }
    ]
}
{% endschema %}