{% assign current_variant = product.selected_or_first_available_variant %}
{% assign description = product.description | split: 'SEPARATOR' %}
{% assign BOTOX = 'Botox' %}

<div class="section-product-template">
	<div class="container">
		<div class="product-template-content">
			<div class="product-image">
				{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
				<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">

				{% comment %}
				{% for image in product.images %}
					<a href="{{ image.src | img_url: 'large' }}">
						<img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
					</a>
				{% endfor %}
				{% endcomment %}
			</div>

			<div class="product-info">
				<h1 class="product-title">{{ product.title }}</h1>
				{% if product.selected_variant.title != blank %}
					<div class="selected-variant-title">{{ product.selected_variant.title }}</div>
				{% endif %}
				<div class="product-price">{{ current_variant.price | money }}</div>

				<div class="product-description">{{ description[0] }}</div>
				<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

					<input type="hidden"
						   name="id"
						   value="{% if product.selected_variant != blank %}{{product.selected_variant.id}}{% else %}{{product.first_available_variant.id}}{% endif %}">

					<input type="number" id="Quantity" name="quantity" value="1" min="1" class="hidden">
					{% if product.type contains BOTOX %}
						<a href="/pages/schedule" class="btn btn-primary flex">Book an Appointment</a>
					{% else %}
						{{ product.type }}
						<button type="submit"
								name="add"
								class="btn btn-primary"
								disabled="disabled"
								id="AddToCart">Click here to Buy</button>
					{% endif %}

					{% if product.variants.size > 1 %}
						<div class="product-variants">
							{% for variant in product.variants %}
								{% if variant.available %}
									<div class="product-variant-wrapper">
										<div class="variant-title">
											{{ variant.title }}
										</div>
										<div class="btn btn-secondary add-product-variant" variant-id="{{ variant.id }}">
											Buy Now / {{ variant.price | money }}
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}

				</form>
			</div>
		</div>
	</div>
</div>

{% if description[1] != blank %}
	<div class="product-template-boxes">
		<div class="container">
			<h2 class="title align-center">{{ section.settings.boxes-title }}</h2>
			{{ description[1] }}
		</div>
	</div>
{% endif %}

{% if recommendations.products_count > 0 %}
	<div class="product-recommendations-section unselectable">
		<div class="container">
			<h3 class="recommendations-title align-center">With this procedure you may also like</h3>

			<!-- Swiper Slider -->
			<div id="product-recommendations-slider" class="swiper-container product-recommendations-slider">
				<div class="swiper-wrapper">
					{%- for product in recommendations.products -%}
						{% comment %}recommendations.products{% endcomment %}
						<div class="swiper-slide">
							{% render 'product-grid-item', product: product %}
						</div>
					{% endfor %}
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>

			</div><!-- #Swiper Slider -->
			<!-- Add Arrows -->
			<div id="recommendations-slider-next" class="swiper-button-next hide-tab"></div>
			<div id="recommendations-slider-prev" class="swiper-button-prev hide-tab"></div>
		</div>
	</div>
{% endif %}


{% schema %}
{
    "name": "Product Template",
    "settings": [
		{
			"type": "text",
			"id": "boxes-title",
			"label": "Boxes title",
			 "default": "Questions? We’ve Got Answers."
		}
	]
}
{% endschema %}

