<div class="article-template">
    <div class="container">
        <div class="article-banner">

            {% for tag in article.tags %}
                {% if tag contains 'icon' %}
                    <span class="article-icon">
                        {% render 'icon', name: tag %}
                    </span>
                {% endif %}
            {% endfor %}

            <h3 class="article-title align-center">{{ article.title }}</h3>
            <img src="{{ article.image | img_url: '1x1' }}"
                 data-src="{{ article.image| img_url: '1600x800' }}"
                 alt="{{  article.title | escape }}"
                 class="lazyload article-image"
            >
        </div>

        <div class="article-content">
            <div>{{ article.content }}</div>
        </div>
    </div>
</div>